/**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: lightblue;
  width: 100%;
  height: 100vh;
}

/* regole slider */
.slider-wrapper{
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: space-around;
}

/* regole imgs */

.images{
  width: 70%;
  text-align: center;
}


.images img {
  width: 70%;
  display: none;
}

.images img.active {
  display: inline-block;
}

/* regole navigazione */

.prev i, .next i {
  font-size: 40px;
  cursor: pointer;
}

.navcircle i{
  cursor: pointer;
  font-size: 24px;
}

.navcircle {
  position: absolute;
  bottom: 20px;

}
.navcircle i.active {
  color: red;
}
